{% extends "base.html" %}
{% block title %}Chat{% endblock %} 
{% block content %}
{% load static %}

<div class="container">
    <div class="chat-container">
        <h1 class="mb-4 text-center title_friendchat">Bienvenue sur le chat en discussion instantané !</h1>
        
        <div id="chat-log">
            {% for message in conversation.message_set.all %}
                <div class="message {% if message.sender.id == request.user.id %}self{% else %}other{% endif %} mb-3">
                    <div class="message-content">{{ message.content }}</div>
                    <div class="message-timestamp text-muted">{{ message.timestamp }}</div>
                </div>
            {% endfor %}
        </div>
        
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="chat-message-input" placeholder="Entrez votre message...">
            <button class="btn btn-primary" type="button" id="chat-message-submit">Envoyer</button>
        </div>
    </div>
</div>

<script>
    // Inject userId and conversationId into the script
    const userId = '{{ request.user.id }}';
    const conversationId = '{{ conversation.id }}';
</script>
<script src="{% static 'app_chat/js/chat.js' %}"></script>
{% endblock %}
