{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}Mot de passe réinitialisé avec succès{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-4 auth-text">
    <h2>Mot de passe réinitialisé avec succès</h2>
    <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant <a href="{% url 'account_login' %}">vous connecter</a> avec votre nouveau mot de passe.</p>
</div>
{% endblock %}