{% extends "base.html" %}
{% block title %}Mentions Légales{% endblock %} 
{% block content %}

<body>
    <div class="container div_mention_legale">    
        <h1 class="text-center">Mentions légales</h1>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mt-4">Ce site web est un projet de test réalisé dans le cadre d'un cours d'informatique à l'école IPSSI. Il a été développé dans le but d'apprendre et de mettre en pratique les concepts de développement web avec Django.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Responsable de publication</h3>
                <p>Entreprise : EDF</p>
                <p>Location : 666 Rue de Dieu</p>
                <p>Numéro : 06-15-15-15-15</p>
                <p>EDF.contact@eruditdefrance.fr</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Hébergement</h3>
                <p>Ce site est hébergé sur un serveur situé entre l'Amérique et la Russie (?) fourni par l'école. Aucune donnée personnelle ou sensible n'est collectée ou stockée sur ce serveur. (Sauf coordonnée bancaire) ;)</p>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Propriété intellectuelle</h3>
                <p>Tous les contenus présents sur ce site, y compris mais non limités au texte, aux images, aux logos et au design, sont la propriété intellectuelle de personne. Toute reproduction ou utilisation de ces contenus sans autorisation préalable est strictement interdite.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Cookies</h3>
                <p>Ce site n'utilise pas de cookies de suivi ou de publicité. (Trop chiant rofl) Seuls les cookies nécessaires au bon fonctionnement du site peuvent être utilisés, notamment pour la gestion de sessions utilisateur. (Même pas sur)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Droit d'auteur</h3>
                <p>© 2035 Tous droits réservés.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}
