<!-- game_app/templates/game_app/gamesDisplay.html -->

{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Top 200 - Jeux les plus jouées{% endblock %}

{% block content %}
    <h1 class="mt-4 text-center white display-4">Top Jeux sur Stema</h1>
    
    <!-- Search Bar -->
    <form method="GET" action="{% url 'games_list' %}" class="d-flex flex-column align-items-center mb-4">
        <div class="input-group searchbarDiv">
            <input type="text" name="search" class="form-control searchbar" placeholder="Rechercher un jeu..." value="{{ request.GET.search|default_if_none:'' }}">
            <button class="btn btn-outline-primary" type="submit">Rechercher</button>
        </div>
        {% if user.is_authenticated %}
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="filterLibrarySwitch" name="filter_library" {% if filter_library %}checked{% endif %} onchange="this.form.submit()">
                <label class="form-check-label white" for="filterLibrarySwitch">Afficher ma bibliothèque</label>
            </div>
        {% endif %}
    </form>
    
    <div class="d-flex flex-wrap justify-content-center">
        {% for game in games %}
            <div class="card gameCard border-0 col-12 col-md-4 col-lg-3 col-xl-2 m-1 p-0" id="game-{{ game.appid }}">
                <div class="card-body position-relative p-0">
                    {% if game.header_image %}
                    <img src="{{ game.header_image }}" alt="{{ game.name }} cover" class="cover-image w-100">
                {% else %}
                    <img src="{% static 'images/no_image.png' %}" alt="No image found" class="cover-image w-100">
                {% endif %}
                <div class="player-count position-absolute">
                    <i class="fa-solid fa-user"></i> {{ game.players|intcomma }}
                </div>
                    
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'game_detail' game.appid %}?page={{ games.number }}">{{ game.name }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-3">
        <ul class="pagination justify-content-center">
            {% if games.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; début</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ games.previous_page_number }}">précédant</a></li>
            {% endif %}

            <li class="page-item active"><span class="page-link">Page {{ games.number }} sur {{ games.paginator.num_pages }}</span></li>

            {% if games.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ games.next_page_number }}">suivant</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ games.paginator.num_pages }}">fin &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
