<!-- game_app/templates/game_app/gameDetail.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}{{ game.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mod.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <!-- Flèche de retour -->
    <div class="back-arrow mt-3 mb-3">
        <a href="{% url 'games_list' %}?page={{ page }}&search={{ search_query }}&filter_library={{ filter_library|yesno:"on," }}" class="text-white">
            <i class="fas fa-arrow-left"></i> Retour aux jeux
        </a>
    </div>

    
    <div class="card border-0 border16 transparent-dark white">
        <div class="card-header d-flex flex-wrap p-0">
            <div class="col-12 col-md-7 p-0">
                <img src="{{ game.header_image }}" alt="{{ game.name }} cover" class="gameDetailImage">
            </div>
            <div class="col-12 col-md-5 p-2 d-flex flex-column justify-content-between">
                <div class="d-flex flex-column">
                    <h1 class="text-center display-5 fs-1">{{ game.name }}</h1>
                    <div class="mt-4">{{ game.short_description }}</div>
                </div>
                <div>
                    <div class="text-center"><strong>Prix:</strong> {{ game.price_overview }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0 border16 transparent-dark white mt-3">
        <div class="col-12">
            <ul class="list-group listSpec">
                <div class="d-flex flex-row flex-wrap">
                    <li class="list-group-item transparent-dark white btlr15 col-12 col-md-6"><strong>Date de sortie:</strong> {{ game.release_date }}</li>
                    <li class="list-group-item transparent-dark white btrr15 col-12 col-md-6"><strong>Plateforme(s):</strong> 
                        {% if game.platforms.windows %}Windows{% endif %}
                        {% if game.platforms.mac %}- Mac{% endif %}
                        {% if game.platforms.linux %}- Linux{% endif %}
                    </li>
                </div>
                <div class="d-flex flex-row flex-wrap">
                    <li class="list-group-item transparent-dark white col-12 col-md-6"><strong>Développeur(s):</strong> {{ game.developers|join:", " }}</li>
                    <li class="list-group-item transparent-dark white col-12 col-md-6"><strong>Éditeur(s):</strong> {{ game.publishers|join:", " }}</li>
                </div>
                <div class="d-flex">
                    <li class="list-group-item transparent-dark white bbrr15 bblr15 col-12"><strong>Genre(s):</strong> {{ game.genres|join:", " }}</li>
                </div>
            </ul>
        </div>
    </div>

    <div id="accordionMods" class="accordion mt-3 {% if mods|length == 0 %}d-none{% endif %}">
        <div class="accordion-item border15">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed border15" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Mods </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionMods">
                <div class="accordion-body">
                    <div class="mods-list justify-content-between row">
                        {% for mod in mods %}
                            {% if mod.status == "published" %}
                                <article class="cardMod px-0">
                                    <div class="thumb" style="background: url('{{ mod.picture_url }}') no-repeat center; background-size: cover"></div>
                                    <div class="infos">
                                        <h2 class="title">{{ mod.name|slice:":20" }}{% if mod.name|length > 20 %}...{% endif %}</h2>
                                        <h3 class="date">by {{ mod.author }}</h3>
                                        <h3 class="seats">{{ mod.created_time|date:"d M Y" }}</h3>
                                        <p class="txt custom-scrollbar">
                                            {{ mod.summary|safe }}
                                        </p>
                                        <h3 class="details">
                                            <a href="https://nexusmods.com/{{ mod.domain_name }}/mods/{{ mod.mod_id }}" target="_blank">More info</a>
                                        </h3>
                                        <h3 class="download_modFiles" data-modid="{{ mod.mod_id }}" data-gameid="{{ mod.game_id }}" data-game="{{ mod.domain_name }}">
                                            <i class="fa-solid fa-lg fa-cloud-arrow-down"></i>
                                        </h3>
                                    </div>
                                </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-between metacontainer my-3">
        {% if user.is_authenticated %}
            {% if game_in_library %}
                <div class="d-flex align-items-center" id="usergameDiv">
                    <button class="btn btn-success p-3" disabled>Jeu déjà dans la bibliothèque</button>
                    <form method="POST" action="{% url 'remove_game_from_library' game.appid %}" class="ms-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger p-3">
                            <i class="fa fa-times"></i>
                        </button>
                    </form>
                </div>
            {% else %}
                <div class="d-flex align-items-center" id="usergameDiv">
                    <form method="POST" action="{% url 'add_game_to_library' game.appid %}" class="ms-2">
                        {% csrf_token %}
                        <input type="hidden" name="game_name" value="{{ game.name }}">
                        <button type="submit" class="btn btn-outline-primary p-3">Ajouter le jeu à ma librairie</button>
                    </form>
                    <button class="btn btn-outline-secondary p-3" disabled>
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            {% endif %}
        {% endif %}

        <div class="d-flex">
            <div class="card transparent-dark white fitcontent border15 p-0">
                {% if game.metacritic_score %}
                <div class="d-flex p-3">
                    <div class="metacritic-score {{ game.metacritic_color }} mx-1">{{ game.metacritic_score }}</div>
                    <div class="d-flex align-items-center">
                        <img src="{% static 'images/metacritic_logo.png' %}" alt="Metacritic Logo" class="metacritic-logo mx-2">
                        <div class="d-flex flex-column ms-1">
                            <img src="{% static 'images/metacritic_text.png' %}" alt="Metacritic Text" class="metacritic-text">
                            <a href="{{ game.metacritic_url }}" target="_blank" class="fs-6 ml-2">Lire les critiques</a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="list-group-item p-3"><strong>Metacritic:</strong> Pas de score disponible</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-evenly mt-3">

        <div class="card cardDesc bg-steam-darker white col-12 col-md-8 p-3 mb-2 mb-md-0 border15 h-fitcontent">
            <div class="d-flex flex-column">
                {{ game.detailed_description|safe }}
            </div>
        </div>

        <div class="card transparent-dark white col-12 col-md-3 h-fitcontent mt-2 mt-md-0 border15">
            <h3 class="text-center p-2 m-0">Captures d'écran</h3>
            {% for screenshot in game.screenshots %}
                <div class="col-12 col-md-12 screenDiv">
                    <img src="{{ screenshot.path_thumbnail }}" alt="Screenshot" class="img-fluid screenImg" onclick="showImageModal(this.src)">
                </div>
            {% endfor %}
        </div>

        <!-- Modal for screenshot -->
        <div id="modalImage" class="modalImage" onclick="hideImageModal()">
            <img class="modalImageContent" id="modalImageContent">
        </div>

    </div>
</div>

<div class="modal fade" id="modalFiles" tabindex="-1" aria-labelledby="modalFilesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalFilesLabel">Fichiers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <main class="mainFiles">
                </main>
            </div>
        </div>
    </div>
</div>

<script>
    function showImageModal(src) {
        var modal = document.getElementById("modalImage");
        var modalImg = document.getElementById("modalImageContent");
        modal.style.display = "flex";
        modalImg.src = src;
    }

    function hideImageModal() {
        var modal = document.getElementById("modalImage");
        modal.style.display = "none";
    }
</script>

{% endblock %}

{% block js %}
    <script src="{% static 'mods/script.js' %}"></script>
{% endblock %}