{% extends 'base.html' %}
{% block title %}Mods List{% endblock %}

{% load static %}
{% load tz %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mods/style.css' %}">
{% endblock %}

{% block content %}
    <h1>Mods List</h1>
    <div class="mods-list row">
        {% for mod in mods %}
            <article class="cardMod px-0">
                <div class="thumb" style="background: url('{{ mod.picture_url }}') no-repeat center; background-size: cover"></div>
                <div class="infos">
                    <h2 class="title">{{ mod.name|slice:":20" }}{% if mod.name|length > 20 %}...{% endif %}</h2>
                    <h3 class="date">by {{ mod.author }}</h3>
                    <h3 class="seats">{{ mod.created_time|date:"d M Y" }}</h3>
                    <p class="txt custom-scrollbar">
                        {{ mod.summary|safe }}
                    </p>
                    <h3 class="details">
                        <a href="https://nexusmods.com/{{ mod.domain_name }}/mods/{{ mod.mod_id }}" target="_blank">More info</a>
                    </h3>
                    <h3 class="download_modFiles" data-modid="{{ mod.mod_id }}" data-gameid="{{ mod.game_id }}" data-game="{{ mod.domain_name }}">
                        <i class="fa-solid fa-lg fa-cloud-arrow-down"></i>
                    </h3>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="modal fade" id="modalFiles" tabindex="-1" aria-labelledby="modalFilesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalFilesLabel">Fichiers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <main class="mainFiles">
                    </main>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'mods/script.js' %}"></script>
{% endblock %}
